.Layout{
    margin-top: 25%;
    text-align: center;
}
.Maintext{
    font-size: 2.3em;
    color: black;
    margin: 2% auto;
}
.Subtext{
    font-size: 1.5em;
    color: #2C514C;
}
.Banner{
    width: 75%;
}
.Textfields{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.Buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

@media (min-width: 600px){
    .Layout{
        margin-top: 5%;
        height: 100%;
    }
    .Banner{
        width: 40%;
    }
}